.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 7rem;
}

.header-title {
  font-size: 5rem;
  color: #e4a2cb;
  font-family: "Mynerve", cursive;
}

@media (max-width: 576px){
  .header {
    justify-content: center;
    margin-top: 25rem;
  }
}