/* APP CSS */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-section {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color: #fef4ff;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }

  .search-section {
    justify-content: center;
  }
}
